.breadcrumb {
  font-size: 20px;
  font-family: Geologica;
  color: #000000cf;
  text-decoration: none;
  /* margin-bottom: 10px; */
  display: inline-block;
  margin: 30px 0 30px 0;
  /* margin-inline-start: 10%; */
}

.breadcrumb_last {
  font-family: Geologica;
  font-size: 20px;
  color: #c32222;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.breadcrumb:hover {
  text-decoration: none;
}