.product-details {
    margin-inline: 15%;
}


.product-main-text {
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 45px;
    color: #333;
}

.product-price {
    font-weight: 100;
    font-size: 35px;
}

.product-button-to-cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-button-to-cart {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    transition: 0.3s;
    vertical-align: text-top;
}

.product-button-to-cart:hover {
    background-color: #c32222;
    /* color: gold; */
}

.one-click-button-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-click-button-underline {
    transition: 0.2s;
    width: 100%;
    height: 1px;
    background-color: #c32222;
}

.product-article-number-wrapper {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.product-article-number {
    /* background-color: black;
    color: gold; */
}

.product-article-number-info {
    font-size: 15px;
    color: gray;
}

.one-click-button {
    transition: 0.5s;
}

.one-click-button:hover .one-click-button-underline {
    opacity: 0;
}

.loading,
.error {
    font-size: 18px;
    color: #c32222;
}

.product-info {
    margin-top: 40px;
    gap: 20px;
    display: flex;
}

.product-image {
    max-width: 100%;
    width: 400px;
    height: auto;
    object-fit: cover;
}

.product-description {
    flex: 1;
}

.product-description-underline {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 1px;
    background-color: black;
}

.product-description p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

.product-description strong {
    font-weight: bold;
}



.product-slider .carousel{
    /* min-width: 1000px; */
    aspect-ratio: 16 / 9;
    width: 1000px;
    height: auto;
    padding-left: 0;
    position: relative;
}

.product-slider .carousel-inner {
    position: relative;
}

.product-slider .carousel .item {
    display: none;
}

.product-slider .carousel .item.active {
    display: block;
}

.product-slider .thumbcarousel {
    margin-top: 15px;
    text-align: center;
}

.product-slider .thumbcarousel .thumb {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.product-slider .thumbcarousel .thumb img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.product-slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.product-slider button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.product-slider .prev {
    left: 10px;
}

.product-slider .next {
    right: 10px;
}

.carousel {
    position: relative;
    width: 100%;
    height: 400px;
}

.carousel-inner {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel .item {
    flex: 1 0 100%;
    /* Каждое изображение занимает 100% ширины контейнера */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel img {
    width: 100%;
    /* Заставляем картинку заполнять всю ширину */
    height: 100%;
    /* Заставляем картинку заполнять всю высоту */
    object-fit: cover;
    /* Картинка будет масштабироваться с сохранением пропорций, заполняя контейнер */
}

.product-slider .thumbcarousel .thumb {
    border: 1px solid transparent;
    opacity: 0.7;
    transition: border 0.3s, opacity 0.3s;
}

.product-slider .thumbcarousel .thumb.active {
    transform: scale(1.2);
    opacity: 1.3;
}

.product-slider .thumbcarousel .thumb:hover {
    opacity: 1;
}

/* gtghtg */