.sorting-container {
  font-family: Geologica;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.sorting-option {
  cursor: pointer;
  transition: 0.3s;
  /* padding: 5px 10px; */
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* transition: background-color 0.3s, color 0.3s; */
}

.sorting-option:hover {
  color: darkgray;
}

.sorting-option.active {
  color: #c32222;
}
