.catalog-details {
    width: 70%;
    margin: 0 auto;
    font-family: Geologica;
}

.CategoryName_main_div {
    font-size: 30px;
    /* text-align: left; */
}

.category-name-sort-buttons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    /* margin-bottom: 20px; */
    align-items: flex-start;
}